[Unit]
Description=InfluxDB for Vision
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop vision-influxdb
ExecStartPre=-/usr/bin/docker rm vision-influxdb
ExecStartPre=/usr/bin/docker pull portefaix/influxdb:0.9.5
ExecStart=/usr/bin/docker run --rm -p 8083:8083 -p 8086:8086 -v /opt/vision/influxdb/lib:/var/lib/influxdb --name vision-influxdb portefaix/influxdb:0.9.5

[Install]
WantedBy=local.target
